# esp-idf
build/
test/build/
managed_components/
dependencies.lock
sdkconfig
sdkconfig.old

# mac - although this technically should go in a global .gitignore on the specific machine
.DS_Store

# vscode - although this technically should go in a global .gitignore on the specific machine
.vscode

# platformio
.pio/
